<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>VEGA</title>
</head>

<body>
  <a    href="http://localhost/login"> <button class="login-button">Přihlásit se</button> </a>
    <div class="center-container">
       
       
        <form form action="/vitek.hoang" method="POST">
            <div class="form-group">
                <label for="fname">Uživatelské jméno:</label>
                <input type="text" id="fname" name="username" required>
            </div>

            <div class="form-group">
                <label for="lname">Email:</label>
                <input type="text" id="lname" name="Email" required>
            </div>
                <div class="form-group">
                    <label for="password" class="show-password-label">Heslo:</label>
                    <div class="password-input-container">
                        <input type="password" placeholder="password" id="password" name="password" required maxlength="30">
                    </div>
                    <input type="checkbox" id="showPassword" class="show-password-checkbox" onclick="togglePasswordVisibility('password')">
                </div>
            
                <div class="form-group">
                    <label for="confirmPassword" class="show-password-label">Potvrdit heslo:</label>
                    <input type="password" placeholder="password" id="confirmPassword" name="confirmPassword" required maxlength="30">
                    <input type="checkbox" id="showConfirmPassword" class="show-password-checkbox" onclick="togglePasswordVisibility('confirmPassword')">
                </div>
            </form>
            
        <div class="button-container">
            <button class="btn" type="submit">Registrovat se</button>
        </div>
    </div>
       <script src="index.js"></script>
</body>
</html>