<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #363636;
        }

        /* Styles for .right-container */
        .right-container {
            display: flex;
            justify-content: flex-end;
            height: 50vh;
            padding-right: 20px; /* Adding some padding for space */
        }

        .right-container a {
            margin-left: 10px;
            text-decoration: none;
        }

        /* Styles for login buttons */
        .login-button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Separate CSS block for Public button */
        .public-button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="right-container">
        <a id="registrationLink" href="http://192.168.11.201/registrace">
            <button class="login-button">Registrace</button>
        </a>
        <a id="loginLink" href="http://192.168.11.201/login">
            <button class="login-button">Přihlásit se</button>
        </a>
    </div>
    
    <div id="publicLink" style="display: flex; justify-content: center;">
        <a href="http://192.168.11.201/public">
            <button id="publicButton" class="public-button">Public</button>
        </a>
    </div>
    <script>
        const links = document.querySelectorAll('.right-container a');
        const publicLink = document.getElementById('publicLink');

        
    </script>
</body>
</html>
