<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/1185841354195075092/1187357840151683102/favicon-chat.png" type="image/png">

    <style>
        body {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #363636;
        }

        /* Styles for .right-container */
        .right-container {
            display: flex;
            justify-content: flex-end;
            height: 50vh;
            padding-right: 20px; /* Adding some padding for space */
        }

        .right-container a {
            margin-left: 10px;
            text-decoration: none;
        }

        /* Styles for login buttons */
        .login-button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Separate CSS block for Public button */
        .public-button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <% if (!isLoggedIn) { %>
        <div class="right-container">
            <a id="registrationLink" href="http://192.168.11.201/registrace">
                <button class="login-button" onclick="changeToNewLink(this)">Registrace</button>
            </a>
            <a id="loginLink" href="http://192.168.11.201/login">
                <button class="login-button" onclick="changeToNewLink(this)">Přihlásit se</button>
            </a>
        </div>
    <% } %>

    <div class="formular-container">
        <form id="logoutForm" action="/logout" method="post">
            <button type="submit" class="login-button">Odhlásit se</button>
        </form>
    </div>

    <div id="publicLink" style="display: flex; justify-content: center;">
        <a href="http://192.168.11.201/public">
            <button class="login-button" onclick="changeToNewLink(this)">public</button>
        </a>
    </div>


    
    <% if (isLoggedIn) { %>
        <p style="color: white;">Welcome, <%= username %>!</p>
      <% } %>
    





    <script>
        function changeToNewLink(element) {
            var originalLink = element.parentNode.href;
            var newLink = originalLink.replace("http://192.168.11.201", "http://localhost");
            element.parentNode.href = newLink;
        }
    </script>

</body>

</html>
