<!DOCTYPE html>
<html>
<head>
  <title>chat chat</title>
  <style>
     body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  #chat-container {
    height: 70%;
    max-height: 70%; /* Set maximum height */
    width: 80%;
    border: 1px solid #ccc;
    overflow: auto; /* Enable both vertical and horizontal scrollbars */
    margin-bottom: 20px;
    padding: 10px;
  }

  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse; /* Reverses the order of items */
  }

    #chat-form {
      display: flex;
      width: 100%;
      align-items: flex-end; /* Aligns the input to the bottom */
    }

    #message-input {
      flex: 1;
      padding: 5px;
      margin-right: 5px;
    }

    button {
      padding: 5px 10px;
      cursor: pointer;
    }

    .login-button {
      margin: 5px;
    }

    .center-container {
      display: flex;
      justify-content: center;
    }

    .formular-container {
      display: flex;
      justify-content: flex-end;
      width: 80%;
    }

    .formular-container button {
      margin-left: 10px; /* Adds space between input and button */
    }
  </style>
</head>
<body>
  <div id="chat-container">
    <ul id="messages"></ul>
  </div>

  <div class="formular-container">
    <form id="chat-form">
      <input id="message-input" autocomplete="off" />
      <button type="submit">Poslat</button>
    </form>
  </div>

  <a href="http://192.168.11.201/registrace">
    <button class="login-button">Registrace</button>
  </a>

  <div class="center-container">
    <a href="http://192.168.11.201/login">
      <button class="login-button">Přihlásit se</button>
    </a>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    const form = document.getElementById('chat-form');
    const input = document.getElementById('message-input');
    const messages = document.getElementById('messages');
  
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      const message = input.value;
      const username = '<%= username %>';
      socket.emit('chat message', { message, username });
      input.value = '';
    });
  
    socket.on('chat message', (data) => {
      const { message, username } = data;
      const li = document.createElement('li');
      li.textContent = `${username}: ${message}`;
  
      // Insert new messages at the top of the list
      messages.insertBefore(li, messages.firstChild);
    });
  </script>
  

 


</body>
</html>
