<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>VEGA</title>
</head>

<body>
    <div class="right-container">
        <a href="http://localhost/registrace"><button class="login-button">Registrace</button></a>
    </div>
    <!-- Login form -->
    <div class="center-container">
        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="username">
            <div class="form-group">
                <label for="password" class="show-password-label">Heslo:</label>
                <div class="password-input-container">
                    <input type="password" placeholder="password" id="password" name="password" required maxlength="30">
                </div>
                <input type="checkbox" id="showPassword" class="show-password-checkbox" onclick="togglePasswordVisibility('password')">
            </div>
            <div class="button-container">
                <button type="submit" class="btn">Přihlásit se</button>
            </div>
            <div><input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember Me</label></div>
            
        </form>
    </div>

    <script src="index.js"></script>


  </script>
</body>
</html>