<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>VEGA</title>
</head>

<body>
    <script>
        function 
        togglePasswordVisibility(inputId) {
                  var passwordInput = document.getElementById(inputId);
                  if (passwordInput.type === "password") {
                      passwordInput.type = "text";
                  } else {
                      passwordInput.type = "password";
                  }
              }
      
              function validatePassword() {
  var password = document.getElementById('password').value;
  var confirmPassword = document.getElementById('confirmPassword').value;
  var email = document.getElementById('lname').value;
  var errorDiv = document.getElementById('passwordError');

  if (password !== confirmPassword) {
    errorDiv.innerText = 'Passwords do not match';
    return false; // Prevent form submission
  }

  if (!email.includes('@gmail.com')) {
    errorDiv.innerText = 'Please enter a valid Gmail address';
    return false; // Prevent form submission
  }

  // Clear any previous error message
  errorDiv.innerText = '';
  return true; // Allow form submission
}
      </script>
    


  <a    href="http://192.168.11.201/login"> <button class="login-button">Přihlásit se</button> </a>
    <div class="center-container">
       
       
        <form action="/vitek.hoang" method="POST" onsubmit="return validatePassword()">
            <div class="form-group">
                <label for="fname">Uživatelské jméno:</label>
                <input type="text" id="fname" name="username" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
                <div class="form-group">
                    <label for="password" class="show-password-label">Heslo:</label>
                    <div class="password-input-container">
                        <input type="password" placeholder="password" id="password" name="password" required maxlength="30">
                    </div>
                    <input type="checkbox" id="showPassword" class="show-password-checkbox" onclick="togglePasswordVisibility('password')">
                </div>
            
                <div class="form-group">
                    <label for="confirmPassword" class="show-password-label">Potvrdit heslo:</label>
                    <input type="password" placeholder="password" id="confirmPassword" name="confirmPassword" required maxlength="30">
                    <input type="checkbox" id="showConfirmPassword" class="show-password-checkbox" onclick="togglePasswordVisibility('confirmPassword')">
                </div>
            
                <div id="passwordError" style="color: red;"></div>

                <div class="button-container">
            <div class="button-container">
                <button class="btn" type="submit">Registrovat se</button>
            </div>
    </form>

</body>
</html>